.storis {
  margin: 0 auto;
  max-width: 865px;
  min-height: 75px;
  padding-top: 15px;
  width: 100%;
}

.storis .storis_block {
  gap: 10px;
  display: flex;
  overflow-y: hidden;
}
.storis .storis_block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(22, 216, 113, 0);
  border-radius: 0;
  background-color: transparent;
  color: red;
}

.storis .storis_block::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.storis .storis_block::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}

.storis .storis_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ff640d;
}

.storis .storis_content img {
  max-width: 100%;
  max-height: 100%;
}

.storis .status {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  background: black;
}

.storis .not_status {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.486);
}

.storis .status img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.storis .renge {
  top: 8px;
  left: 5%;
  width: 90%;
  height: 5px;
  position: absolute;
  border-radius: 2px !important;
  outline: none !important;
  background: rgba(61, 61, 61, 0.6);
  -webkit-appearance: none;
}

.storis .renge::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  width: 30px;
  height: 5px;
  border-radius: 3px !important;
  background: #d8d8d8;
}
