.title_h1{
    max-width: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}
.title_h2 {
    font-size: 22px;
    color: var(--orange);
    font-weight: 500;
}
.title_h4 {
    font-size: 18px;
    color: var(--orange);
    font-weight: 500;
}
.title_h3 {
    font-size: 16px;
    color: #000;
    font-weight: 300;
    text-align: center;
}

.title_h5 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    width: 150px;
}

.title_h6 {
    font-size: 14px;
    color: #000;
}

.project {
    font-size: 12px;
    color: #ddd;
    font-weight: 300;
}
.sapn{
    font-size: 16px;
    font-weight: 300;
    color: var(--orange);
}
.btn {
    width: 100%;
    background: #ff640d;
}

.input_form {
    width: 100%;
    height: 40px;
    background: white;
}

.images {
    width: 20%;
}

.fi {
    font-size: 25px;
    cursor: pointer;
    color: var(--orange) !important;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 998;
    width: 90% ;
    max-width: 784px;
    margin: 10px auto
}
.navs_one{
    font-weight: 400;
}
.qar{
    width:100%;

}