.title_h1 {
    max-width: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.title_h2 {
    font-size: 22px;
    color: var(--orange);
    font-weight: 500;
}

.title_one {
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.title_h4 {
    font-size: 18px;
    color: var(--orange);
    font-weight: 500;
}

.title_h3 {
    font-size: 16px;
    color: #000;
    font-weight: 300;
    text-align: center;
}

.orders {
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: start !important;
}

.title_h5 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    width: 150px;
}

.title_h6 {
    font-size: 14px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.project {
    font-size: 12px;
    color: #232323;
    font-weight: 400;
}

.sapn {
    font-size: 16px;
    font-weight: 300;
    color: var(--orange);
}

.all_title {
    width: 0 !important;
    font-weight: 400 !important;
    margin-left: -55px;
}

.btn_button {
    width: 90%;
    height: 45px;
    margin: 0 auto;
    background: #ff640d;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
}

.input_form {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.438);
    outline: none;
}

.input_form::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.input_form[type="search"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    color: #333;
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 300;
}

.nav_line {
    border-bottom: 1px solid #cccccc;
}

.sapn {
    font-size: 16px;
    font-weight: 300;
    color: var(--orange);
}

.all_title {
    width: 0 !important;
    font-weight: 400 !important;
    margin-left: -100px;
}

.btn {
    width: 100%;
    background: #ff640d;
}

label {
    font-size: 14px;
    font-weight: 400;
}

label span {
    font-size: 14px;
    color: red;
}

button {
    width: 100%;
    height: 45px;
    font-weight: 400;
    font-size: 16px !important;
    border-radius: 10px !important;
    outline: none !important;
    cursor: pointer !important;
}

.images {
    width: 20%;
}

.fi {
    font-size: 25px;
    cursor: pointer;
    color: var(--orange);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 998;
    margin: 0 auto;
    padding: 10px 0;
}

.navs_one {
    font-weight: 400;
}

.qar {
    width: 100%;
}

.all_shop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
    margin-top: 68px;
}

.all_shop .shops {
    width: 100%;
    min-height: 120px;
    background: linear-gradient(
            180deg,
            rgb(255, 255, 255) 36%,
            rgb(237, 241, 241)
    );
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.525rem 0 rgba(0, 0, 0, .08);
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.row_one {
    padding: 130px 0 0 0;
}

.image-container {
    position: relative;
}

.all_shop .shops img {
    width: 100px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#modal_one {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: name 0.5s;
}

.parent_container {
    position: relative;
}

.btn_tabs {
    border: none;
    background: #f4f2f2;
    color: #000;
    font-size: 14px !important;
    font-weight: 400;
    width: 100% !important;
    height: 30px !important;
    border-radius: 15px !important;
    padding: 0 5px;
    margin: 0 10px 0 0;
}

.scroll {
    width: 100%;
    overflow-x: scroll;
}

.scroll .tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    border-radius: 0;
    background-color: transparent;
}

.scroll .tabs::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.scroll .tabs::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: transparent;
    background-color: transparent;
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.icons {
    font-size: 20px;
    cursor: pointer;
    color: var(--orange);
}

.item_one {
    margin: 7px 0 0 5px;
    font-weight: 400;
}


.slider {
    width: 100%;
    height: 6px;
    background: #d9d9d9;
    border-radius: 1px;
}

.slider .thumb {
    margin-top: -10px;
    width: 25px;
    height: 25px;
    cursor: grab;
    background: var(--orange);
    border-radius: 50%;
    border: 2px solid white;
    outline: none;
}

.slider .thumb::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--orange);
    background: white;
}

.track-1 {
    height: 6px;
    background: var(--orange);
    border-radius: 100px;
}

.value {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background: #f4f2f2;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nava {
    font-weight: 400;
    color: #4f4f4f;
    margin: 2px 0 0 10px;
}

.all_title_one {
    font-weight: 400 !important;
    text-align: center;
    width: 300px !important;
}

.from_btn {
    margin: 0 13px 0 0;
}


.blocks {
    width: 98%;
    min-height: 40px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.525rem 0 rgba(0, 0, 0, .08);
    padding: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.blocks img {
    width: 100%;
    height: 140px;
}

.hover_blocks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.hover_blocks h1 {
    color: #ffffff;
}

.all h3 {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    margin: 10px 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 20px;
    max-height: 60px;
}

.mt {
    margin: 10px 0 10px 0;
}

.font {
    font-weight: 500;
}

.all h2 {
    display: inline-block;
    font-size: 14px;
    color: var(--orange);
    float: right;
    font-weight: 600;
    margin: 0 0 0 0;
}

.img_block {
    width: 100% !important;
    height: 80px !important;
}

.project span {
    margin: 10px 0 0 0;
}

.mark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark .active {
    color: var(--orange);
}

.plus {
    width: 77px;
    height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.525rem 0 rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.pluses {
    width: 85px !important;
    height: 25px !important;
}

.act {
    width: 85px !important;
    height: 25px !important;
}

.active_plus {
    width: 55%;
    height: 30px;
    border-radius: 20px;
    background-color: var(--orange);
    box-shadow: 0 0.2rem 0.525rem 0 rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.fi_ones {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.ai_out {
    font-size: 15px !important;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 998;
    margin: 0 auto;
    padding: 10px 0;
}

.navs_one {
    font-weight: 400;
    margin: 4px 0 0 0;
}

.qar {
    width: 100%;
}

.marks {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(
            180deg,
            rgb(255, 255, 255) 36%,
            rgb(237, 241, 241)
    );
    box-shadow: 0 0.2rem 0.525rem 0 rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.marks .active {
    color: var(--orange);
}

.mt_one {
    margin: 4px 0 0 7px;
}

.bs {
    font-size: 18px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    position: relative;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    opacity: 0.5;
    border-radius: 50%;
}

input[type="checkbox"]:hover {
    opacity: 1;
}

input[type="checkbox"]:checked {
    background-color: #000;
    opacity: 1;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.mt_bt {
    margin: 20px 0 0 0;
}

.mt_bt h6 {
    font-size: 16px !important;
    font-weight: 300 !important;
}

.ionic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 130px 0 0 0;
}


.ionic img {
    width: 50%;
}

.ionic h3 {
    color: #000 !important;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 5px 0;
}

.ionic p {
    color: #706f6f !important;
    text-align: center;
}

.carts {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
     margin-left: calc(-.0 * var(--bs-gutter-x));
}

.cart_price{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eae9e9;
    width: 100%;
    min-height: 100px;
}
.btn_butto{
    width: 100%;
    height: 45px;
    background: #ff640d;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.line{
    width: 100%;
    height: 1px;
    background: #8d99ae;
}