@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-UltraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Extrabold.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}
:root {
  --orange: #ff640d;
  --green: #04c700;
}

.container {
  width: 90% !important;
  max-width: 784px !important;
  margin: 0 auto !important;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none;
}
