.bonus_block_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--orange);
  border-radius: 15px;
  margin-top: 150px;
  padding: 10px 15px;
  cursor: pointer;
}

.bonus_block_all img {
  max-width: 160px;
  height: 100%;
  border-radius: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #ffffff;
  z-index: 998;
  padding: 5px 0 0 0;
  margin: 0 auto;
  width: 90%;
  max-width: 784px;
}

#footer .navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#footer .logo {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: var(--orange);
  margin: 0 auto;
}

#footer .navs .flex_block a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

#footer .navs .flex_block a span {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #787676;
  margin: 3px 0 0 0;
}

.ai {
  color: #787676 !important;
  font-size: 23px !important;
  font-weight: 300;
}

.active .ai {
  color: var(--orange) !important;
  font-size: 23px !important;
}

.active span {
  color: var(--orange) !important;
  font-size: 12px;
}

.coupon_box {
  width: 100%;
  min-height: 160px;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(243, 243, 243));
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  margin: 0 20px 20px 0;
  box-shadow: 0 2px 4px 1px rgba(34, 60, 80, 0.2);
}

.coupon_block_all {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.coupon_block_all .title_goods img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.coupon_block_all .text_box img {
  width: 30px;
  height: 30px;
  margin: -21px 0 0 0;
}
.coupon_block_all .text_box .pro {
  width: 150px;
}
#modal {
  position: absolute;
  width: 100%;
  height: 120%;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.modal-fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.modal-fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.nav img {
  width: 20%;
}
.area_all {
  width: 100%;
  padding: 10px;
  background: white;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 0 20px 0;
}

.one {
  margin: 100px 0 20px 0;
}

.area_all .bell {
  display: flex;
  align-items: center;
}

.area_all .bell h3 {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
}

.area_all .bi {
  border-radius: 50%;
  background: white;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 4px 1px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.be {
  font-size: 23px;
  color: var(--orange);
}
.block {
  width: 100%;
  border-radius: 20px;
  min-height: 300px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 4px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 4px 1px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mt-5 {
  margin-top: 5rem !important;
}

/* GetShot  */
.get_shot {
  margin: 100px 0 0 0;
}
.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title_add {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #04c700;
}
.title_add:hover {
  opacity: 0.6;
  cursor: pointer;
}
.get_block_all {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-y: hidden;
  cursor: pointer;
}
.get_block {
  position: relative;
  width: 100%;
  min-height: 220px;
  border: 2px solid #04c700;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.get_box_all {
  width: 100%;
  padding: 0 24px 0 24px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.get_box {
  width: 150px;
  height: 150px;
  background: var(--orange);
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.get_box img {
  width: 80px;
  height: 80px;
  background: none;
}
.time {
  width: 180px;
  height: 20px;
  background: var(--orange);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  border-top: var(--orange) !important;
}
.get_block_all::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(22, 216, 113, 0);
  border-radius: 0;
  background-color: transparent;
  color: red;
}
.get_block_all::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.get_block_all::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
.shot_news {
  width: 160px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  margin: 10px auto;
}
.price {
  width: 70px;
  min-height: 55px;
  background: var(--orange);
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 135px;
  right: 10px;
}
.low_price {
  position: relative;
  width: 100%;
  height: 25px;
  background: #04c700;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  display: flex;
  align-items: center;
  color: #000;
}
.none {
  position: absolute;
  width: 45px;
  height: 1.2px;
  background: #fff;
  transform: rotate(-15deg);
}
.price_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px 0 5px;
  margin-top: 5px;
}
.precent {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  top: -25px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.precent span {
  font-size: 12px;
  color: #fff;
}

/* SpecialOffers */
.special_offers {
  margin-bottom: 100px;
}
.recommendations_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.recommendations_block_all {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
  overflow-y: hidden;
}
.recommendations_box {
  width: 100%;
  height: 220px;
  background: var(--orange);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.recomen_image {
  width:203px;
  height: 100%; 
  background: red;
  border-radius: 10px;
}
.recommendations .recommendations_block_all::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(22, 216, 113, 0);
  border-radius: 0;
  background-color: transparent;
  color: red;
}
.recommendations .recommendations_block_all::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
.recommendations .recommendations_block_all::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
